@charset "UTF-8"

/* Configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 40px;
}


/**//**//**//**//**//**//**//**//**//**//* Configuração Nav *//**//**//**//**//**//**//**//**/
/**/header {
/**/    background-color: #0d0d0dfa;
/**/    padding: 0px;
/**/    display: flex;
/**/    justify-content: center;
/**/    align-items: center;
/**/    padding: 0px 0px;
/**/    gap: 0px;
/**/}
/**//**//**//**//**//**//**//**//**//*Fim da Configuração Nav*//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//**//* Configuração NavLista*//**//**//**//**//**//**//**//**//**//**//**/
/**/.navlista {                                                                                                    
/**/    font-size: 18px;
/**/    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/**/    text-align: center;
/**/    width: auto;    
/**/    padding: 0px 0px;
/**/    background-color: rgba(62, 62, 63, 0);
/**/    text-decoration: color(rgb(255, 255, 255));
/**/    list-style: none;
        transition: 0.3s;
}

.navlista:hover {
    transform: scale(1.05);
}
/**/
/**/nav ul {
/**/    display: flex;
/**/    gap: 100px;
/**/    padding: 0px, 10px;
/**/}
/**/
/**/.nava {
/**/    text-decoration: none;
/**/    color: #ffffff;
/**/    
/**/}
/**//**//**//**//**//**//**//**//**//**//**//* fim da Configuração NavLista*//**//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//**//**//**//* Configuração sobre nós *//**//**//**//**//**//**/
/**/ol li  {
/**/    text-align: left;
/**/}
/**/.sobrenos { 
/**/    max-width: 900px;
/**/    margin: 0 auto;
/**/    padding: 40px, 20px;
/**/    line-height: 1.6;
/**/}
/**/main h2 {
/**/    margin-top: 50px;
/**/    margin-bottom: 20px;
/**/}
/**/main section {
/**/    flex: 1;
/**/}
/**//**//**//**//**//**//**//* fim da Configuração lista sobre nós *//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//**//**//* Configuração Body Geral*//**//**//**//**//**//**//**//**//**//**//**//**/
/**/body {
/**/    text-align: center;
/**/    font-family: Arial, sans-serif;
/**/    background-color: #fdfcfc;
/**/    color: #333;
/**/
/**/}
/**/.a {
/**/    text-decoration: none;
/**/}
/**//**//**//**//**//**//**//**//**//**//**//* fim da Configuração Main Geral*//**//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//* Configuração Mensagem page Precisa de Ajuda*//**//**//**//**//**//**//**//**/
/**/.mensagem {
/**/    height: 100;
/**/}
/**//**//**//**//**//**//* fim da Configuração Mensagem page Precisa de Ajuda*//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//* Configuração Container Main*//**//**//**//**//**//**//**//**/
/**/.container {
/**/    justify-content: center;
/**/    display: block;
/**/    padding: 30px;
/**/    display: contents;
/**/    gap: 40px;
/**/
/**/}
/**/
/**/@media (max-width: 768px) {
/**/    .container {
/**/        flex-direction: column;
/**/    }
/**/}
/**/
/**/main section {
/**/    flex: 1;
/**/}
/**/
/**/
/**//**//**//**//**//**//**///* fim da Configuração Container Main*//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//* Configuração Main Respirando*//**//**//**//**//**//**//**//**//**//**/
/**/main { 
/**/    max-width: 900px;
/**/    margin: 0 auto;
/**/    padding: 40px, 20px;
/**/    line-height: 1.6;
/**/}
/**/main h2 {
/**/    margin-top: 50px;
/**/    margin-bottom: 20px;
/**/}
/**/main section a {
/**/    text-decoration: none;
/**/    color: #333;

/**/}
/**//**//**//**//**//**//**//**//**//**//**//**//**//*Termina aqui*//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//**//**//**//**//*Configurações de textos padrão*//**//**//**//**//**//**//**//**//**//**/
/**/h1 {
/**/    text-align: center;
/**/}
/**/
/**/h2  {
/**/    text-align: left; 
/**/    text-indent: 40px;    
/**/}
/**/
/**/p {
/**/    text-align: justify;
/**/    text-indent: 20px;
/**/}    
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//*Termina aqui*//**//**//**//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//**//**//*Class nomeada para posição entral e itens lado a lado*//**//**//**//**//**/
/**/.rodape { 
/**/    vertical-align: center; /*Manter itens no top da section*/
/**/    display: flex;
/**/    justify-content: space-between; /*Espaçar os itens para as extremidades*/
/**/    flex-direction: row;
        align-items: center;
/**/    text-align: center; /*Centralizar itens dentro da section*/   
/**/    padding: 0px 0px;
/**/    display: inline;
/**/}
/**/
/**/footer {
/**/    background-color: #1b1a1afc;
/**/    display: flex;
/**/    align-items: center;   
/**/    text-align: center; /*Centralizar itens dentro da section*/
/**/    justify-content: space-between; /*Espaçar os itens para as extremidades*/   
/**/    gap: 40px;
/**/    padding: 0px 300px;
/**/    height: 15vh;
/**/    gap: 20px;
        transition: 2.3s;

/**/    
/**/}
        footer a {
            font-size: 15px;
            text-decoration: none;
            color: #ffffff;   
        }

        .rodape a img:hover {
    transform: scale(1.05);}
/**//**//**//**//**//**//**//**//**//**//* footer para telas menores*//**//**//**//**//**//**//**//**//**//**//**//**/
/**/@media (max-width: 768px) {
/**/    .footer {
            align-items: center;
/**/        flex-direction: column;
/**/        
/**/    }
/**/    .rodape {
/**/        flex-direction: column;
/**/        align-items: center;
/**/    }
        .container {
/**/        flex-direction: column;
/**/        align-items: center;
/**/    }

        }
/**//**//**//**//**//**//**//**//**//**//* Fim da Configuração de rodapé*//**//**//**//**//**//**//**//**//**//**//**//**/

/**//**//**//**//**//**//**//* Configuração do Drive Pagina Doutrina*//**//**//**//**//**//**//**//**//**//**//**//**//**/
/**/.drive {/* Falta configurar e elaborar melhor a pagina*/
/**/    width: 100vw;
/**/    height: 56.25vw;
/**/    max-height: 100vh;
/**/    max-width: 177.78vh;   
/**/    margin: auto;
/**/    position: absolute;
/**/    top: 120px;
/**/    left: 0;
/**/    right: 0;
/**/}
/**//**//**//**//**//**//**//**//**//**//**//* fim da configuração do Drive*//**//**//**//**//**//**//**//**//**//**//**//**/


/**//**//**//**//**//**//**//**//**//**//**//* Configuração do Hero Home page*//**//**//**//**//**//**//**//**//**//**//**/
/**/.himg {
/**/  background-image: url('Imagens/hero01.png');
/**/  background-size: cover;      /* Faz a imagem preencher tudo sem sobrar espaço */
/**/  background-position: center; /* Centraliza a imagem */
/**/  width: 100%;
/**/  height: 60vh;                /* Ocupa 80% da altura da tela */
/**/  display: flex;
/**/  align-items: center;
/**/  justify-content: center;
/**/  font-size: 2em;
/**/  text-size-adjust: 100%;
/**/  color: white; 
/**/}
/**//**//**//**//**//**//**//**//**//**//**//* fim da configuração do Hero Home page*//**//**//**//**//**//**//**//**//**//**/


/**//**/
main section h3 {/* Configuração de textos secundários home page*/
    font-size: 30px;
    color: #000000;
}

.contribua h3 {
    font-size: 25px;
    color: #000000;
}

.contribua h2 {
    font-size: 35px;
    color: #333;
    text-align: center;
}
