@charset "UTF-8"

/* Configuração global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navlista {
    display: inline-block; 
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: auto;    
    padding: 5px 30px;
}
/* Configuração lista sobre nós */
li  {
    text-align: left;
}
/* fim */

nav  {/* Configuração Nav*/
    gap: 40px;
    padding: 10px 5px;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}
 .container {

}

/* Configuração Main Respirando*/
main { 
    max-width: 900px;
    margin: 0 auto;
    padding: 40px, 20px;
    line-height: 1.6;
}
main h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
/*Termina aqui*/

h1 {
    text-align: center;
}

h2 {
    text-align: left; 
    text-indent: 10px;    
}

.sjm {
    text-align: center;

}

p {
    text-align: justify;
    text-indent: 20px;
}    
 /*Class nomeada para posição entral e itens lado a lado*/
.rodape { 
    vertical-align: top; /*Manter itens no top da section*/
    /*display: inline-block; /*Manter itens lado a lado*/
    text-align: center; 
    width: auto;    

}

/* footer {  ANTERUIR A PESQUISA
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
}*/
footer {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 100px;
    
}
/* footer para telas menores*/
@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}


/* Falta configurar e elaborar melhor a pagina*/
.drive {
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;   
    margin: auto;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;

}
/* fim*/

