.quick-links {
  background-color: var(--cor4);
  padding: var(--sp-48) 0;
  color: var(--cor-branco);
}

.ql-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.ql-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--sp-24);
  border-right: 1px solid rgba(255, 255, 255, 0.15); /
}


.ql-item:last-child {
  border-right: none;
}

.ql-icon {
  color: var(--cor3);
  margin-bottom: var(--sp-16);
  opacity: 0.9; 
}

.ql-title {
  font-family: var(--font-titulos);
  font-size: 13px;
  font-weight: 700;
  margin-bottom: var(--sp-8);
  letter-spacing: 0.5px;
}

.ql-desc {
  font-size: 13px;
  color: var(--cor1);
  margin-bottom: var(--sp-16);
  line-height: 1.5;
  white-space: pre-line;
  flex-grow: 1;
}

.ql-link {
  color: var(--cor3);
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.ql-link:hover {
  color: var(--cor-branco);
  text-decoration: underline;
}


@media (max-width: 1023px) {
  .ql-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-32) 0;
  }
  
  .ql-item:nth-child(3) {
    border-right: none;
  }
  .ql-item:last-child {
    border-right: none;
  }
}

@media (max-width: 767px) {
  .quick-links {
    padding: var(--sp-32) 0;
  }

  .ql-grid {
    grid-template-columns: 1fr;
    gap: var(--sp-32);
  }

  .ql-item {
    border-right: none;
    padding: 0;
    align-items: center;
    text-align: center;
  }
}
